body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-layout {
  display: flex;
  gap: 0 40px;
}

.page-layout_cropped {
  max-height: calc(100vh - 88px);
}

.page-slot {
  width: 50%;
  max-width: 600px;
}

.cropper {
  overflow: hidden;
}

.scroll{
  overflow: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.h-100p {
  height: 100%;
}

.pb-18 {
  padding-bottom: 72px;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.icon-32 > svg {
  width: 32px;
  height: 32px;
}
