body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container_size_lg {
  max-width: 1360px;
}

.page-layout {
  display: flex;
  gap: 0 40px;
}

.page-layout_cropped {
  max-height: calc(100vh - 88px);
}

.page-slot {
  width: 50%;
  max-width: 600px;
}

.cropper {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.scroll {
  overflow: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-jc-between {
  justify-content: space-between;
}

.flex-jc-end {
  justify-content: flex-end;  
}

.flex-ai-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.gap-2 {
  gap: calc(var(--offset-base-size) * 2);
}

.gap-y-4 {
  row-gap: calc(var(--offset-base-size) * 4);
}

.gap-y-8 {
  row-gap: calc(var(--offset-base-size) * 8);
}

.gap-x-6 {
  column-gap: calc(var(--offset-base-size) * 6); 
}

.h-100p {
  height: 100%;
}

.pb-18 {
  padding-bottom: calc(var(--offset-base-size) * 18);
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-contain {
  object-fit: contain;
}

.icon-32 > svg {
  width: 32px;
  height: 32px;
}
