.header {
  background-color: #1C1C21;
}

.container {
  max-width: 1360px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.row {
  composes: container flex;
  justify-content: space-between;
}

.nav {
  composes: flex;
  gap: 8px;
}

.link {
  composes: flex;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}
